<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200790409217-k5uv7n2vfomgqlo2afv7tq4juflqai8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200790409217-k5uv7n2vfomgqlo2afv7tq4juflqai8e</string>
	<key>API_KEY</key>
	<string>AIzaSyB3VW0LVVkR4DVm7nVZm0c63pVxRpsTRus</string>
	<key>GCM_SENDER_ID</key>
	<string>200790409217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xiobit.agendaApp</string>
	<key>PROJECT_ID</key>
	<string>contacts-app-xio</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-app-xio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200790409217:ios:0536000e582c0a289b8000</string>
	<key>DATABASE_URL</key>
	<string>https://contacts-app-xio.firebaseio.com</string>
</dict>
</plist>